In [17]:
import pandas as pd
import numpy as np
import joblib as jb
import yaml
from sklearn.model_selection import train_test_split

In [18]:
with open('A:/projectwater/config/config.yaml') as file:
    config = yaml.safe_load(file)
config

{'data_raw': 'A:/projectwater/data/raw/water_potability.csv',
 'data_final': 'A:/projectwater/data/process/ori_new.pkl',
 'path_train': ['A:/projectwater/data/process/x_train.pkl',
  'A:/projectwater/data/process/y_train.pkl'],
 'path_valid': ['A:/projectwater/data/process/x_valid.pkl',
  'A:/projectwater/data/process/y_valid.pkl'],
 'path_test': ['A:/projectwater/data/process/x_test.pkl',
  'A:/projectwater/data/process/y_test.pkl'],
 'path_train_feat': ['A:/projectwater/data/process/x_train_feat.pkl',
  'A:/projectwater/data/process/y_train_feat.pkl'],
 'path_valid_feat': ['A:/projectwater/data/process/x_valid_feat.pkl',
  'A:/projectwater/data/process/y_valid_feat.pkl'],
 'path_test_feat': ['A:/projectwater/data/process/x_test_feat.pkl',
  'A:/projectwater/data/process/y_test_feat.pkl'],
 'final_model_path': 'A:/projectwater/models/production_model.pkl',
 'training_log_path': 'A:/projectwater/log/training_log.json',
 'new_cols': ['ph',
  'hardness',
  'solids',
  'chloramines',
  'sulfate',
  'conductivity',
  'organic_carbon',
  'trihalomethes',
  'turbidity',
  'potability'],
 'int_columns': ['potability'],
 'float_columns': ['ph',
  'hardness',
  'solids',
  'chloramines',
  'sulfate',
  'conductivity',
  'organic_carbon',
  'trihalomethes',
  'turbidity'],
 'target': 'potability',
 'predictors': ['ph',
  'hardness',
  'solids',
  'chloramines',
  'sulfate',
  'conductivity',
  'organic_carbon',
  'trihalomethes',
  'turbidity'],
 'test_size': 0.2,
 'valid_size': 0.5}

In [19]:
dt_water = pd.read_csv("A:/projectwater/data/raw/water_potability.csv")
dt_water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [20]:
dt_water.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [21]:
ori_new = dt_water.copy()

In [22]:
ori_new.columns = config["new_cols"]
ori_new

,ph,hardness,solids,chloramines,sulfate,conductivity,organic_carbon,trihalomethes,turbidity,potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [23]:
ori_new.isnull().sum()

ph                491
hardness            0
solids              0
chloramines         0
sulfate           781
conductivity        0
organic_carbon      0
trihalomethes     162
turbidity           0
potability          0
dtype: int64

In [24]:
cols = ['sulfate','ph','trihalomethes']
for col in cols:
    mean = ori_new[col].mean()
    ori_new[col].fillna(mean, inplace=True)

In [25]:
assert ori_new.select_dtypes('float').columns.to_list() == config['float_columns'], "error occurs in float columns"
assert ori_new.select_dtypes('int').columns.to_list() == config['int_columns'], "error occurs in int columns"

In [26]:
ori_new.isnull().sum()

ph                0
hardness          0
solids            0
chloramines       0
sulfate           0
conductivity      0
organic_carbon    0
trihalomethes     0
turbidity         0
potability        0
dtype: int64

In [27]:
jb.dump(ori_new, "A:/projectwater/data/process/ori_new.pkl")

['A:/projectwater/data/process/ori_new.pkl']

# SPLIT DATA

In [28]:
ori_new.shape

(3276, 10)

In [29]:
x = ori_new[config['predictors']].copy()
y = ori_new[config['target']].copy()

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = config["test_size"], random_state = 42, stratify = y)
x_valid, x_test, y_valid, y_test = train_test_split(x_test, y_test, test_size = config["valid_size"], random_state = 42, stratify = y_test)

In [31]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)
print(x_valid.shape, y_valid.shape)

(2620, 9) (2620,)
(328, 9) (328,)
(328, 9) (328,)

In [32]:
jb.dump(x_train, "A:/projectwater/data/process/x_train.pkl")
jb.dump(y_train, "A:/projectwater/data/process/y_train.pkl")
jb.dump(x_test,  "A:/projectwater/data/process/x_test.pkl")
jb.dump(y_test,  "A:/projectwater/data/process/y_test.pkl")
jb.dump(x_valid, "A:/projectwater/data/process/x_valid.pkl")
jb.dump(y_valid, "A:/projectwater/data/process/y_valid.pkl")

['A:/projectwater/data/process/y_valid.pkl']